@mixin ellipsis-oneline() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin zehang() {
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-word;
}

@mixin textNum($num: 6) {
  width: $num * 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}

.disabled-text {
  &,
  * {
    color: rgb(0 0 0 / 16%) !important;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.disabled-normal {
  &,
  * {
    cursor: not-allowed;
    pointer-events: none;
  }
}

.theme-red {
	color: #910e0e;
}
